.IfBlock{
    // border: 1px solid red;

    >div{
        display: flex;
        margin: 3px 0px;

        >div{
            width: 110px;

            &:nth-child(1){
                align-items: center;
                >*{
                    margin: 5px;
                }
                span{
                    display: inline-block;
                    padding: 8px;
                    border-radius: 5px;
                    color: white;
                    background-color: black;
                }   


            }
            &:nth-child(2){
                width: calc(100% - 110px);
            }
        }
    }
}