.TamplatePreviewer{
    width: 100%;

    h1{
        text-align: center;
        color: white;
        text-shadow: var(--TextShadow);
    }
}

.variablesConteiner{
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    >*{
        margin: 5px;
    }
    >p{
        color: white;
        font-size: 24px;
        line-height: 24px;
        height: 24px;
        text-shadow: var(--TextShadow);
    }
}

.resultMessage{
    box-sizing: border-box;

    width: calc(100% - 100px);
    margin: 0 auto;

    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--BoxShadow);

    white-space: pre-wrap;
    word-break: break-all;
}