.tamplateEditor{
    // width: 800px;
    min-height: 300px;
    border: 1px solid red;

    h1{
        text-align: center;
        color: white;
        text-shadow: var(--TextShadow);
        margin: 20px 0;
    }
}